.linkBack {
  background: transparent;
  color: #FAFAFA;
  border: none;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity .4s;
}

.linkBack:hover {
  opacity: 1;
}

.albumContainer {
  display: flex;
  padding: 30px;
  margin-top: 20px;
}

.albumContent {
  display: flex;
  flex-direction: column;
}

.divImg {
  width: 250px;
  height: 250px;
  background-color: #FAFAFA;
}

.divImg img {
  width: 250px;
}

.albumFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.albumFooter span:first-child {
  font-size: 18px;
  color: #fff;
  padding-bottom: 5px;
  text-align: center;
}

.albumFooter span:last-child {
  font-size: 18px;
  color: #999999;
}

