section.albums {
  padding: 20px;
}

section.albums h4 {
  color: #FAFAFA;
  font-size: 18px;
  font-weight: 400;
}

.albumsItems {
  display: flex;
  flex-wrap: wrap;
  max-height: 450px;
  max-width: 900px;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #999999;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1DB954;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
